<div class="container-title">
  <h1 class="title">PERSONAL ONLINE
    <ion-icon name="add-circle-outline"></ion-icon>
  </h1>

  <div class="container-slides">
    <div class="slides">
      <div class="slide-one">
        <div class="info-newTraining" *ngIf="!trainingPersonal">
          <ion-icon name="add-circle-outline"></ion-icon>
          <h1>Novo treino</h1>
        </div>
        <div class="info" *ngIf="trainingPersonal">
          <h1>TREINO DE PEITO</h1>
        </div>
      </div>
      <div class="slide-two">
        <div class="info">
          <h1>YOGA</h1>
        </div>
      </div>
    </div>

  </div>
</div>
